[run]
branch = True
source = src/aiat

[report]
omit =
    src/aiat/__main__.py
    src/aiat/observability/logging_config.py
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    \.\.\.
    @(abc\.)?abstractmethod
